.about.align-section
  .decor__square
  .container
    .about__video
      iframe.about__video-player(
        type="text/html"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?enablejsapi=1"
        title="YouTube video player"
      )
      .about__video-btn
        .about__video-btn-icon

