.partners
  .container
    .partners__logo
      img(src=require('@/assets/img/logo_1.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_2.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_3.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_4.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_5.png') alt="")
