.partners
  .container
    .partners__logo
      img(src=require('@/assets/img/logo_2.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_2.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_2.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_2.png') alt="")
    .partners__logo
      img(src=require('@/assets/img/logo_2.png') alt="")
