.partners
  .container
    a.partners__logo(href="javascript:")
      img(src=require('@/assets/img/logo_1.png') alt="")
    a.partners__logo(href="javascript:")
      img(src=require('@/assets/img/logo_2.png') alt="")
    a.partners__logo(href="javascript:")
      img(src=require('@/assets/img/logo_3.png') alt="")
    a.partners__logo(href="javascript:")
      img(src=require('@/assets/img/logo_4.png') alt="")
    a.partners__logo(href="javascript:")
      img(src=require('@/assets/img/logo_5.png') alt="")
