include ../mixins/socials
footer.footer
  .container(
    data-aos="fade-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="800"
  )
    .footer__brief
      a.logo(href="javascript:") iq-digital.site
      p.footer__brief-desc Funding freemium long tail hypotheses first mover advantage assets ownership niche market startup investor. Burn rate termsheet leverage backing stock channels long tail twitter conversion.
      .footer__brief-contacts
        .footer__brief-contacts-item
          .footer__brief-contacts-item-icon
            img(src=require('@/assets/img/svg/mail.svg') alt="")
          a(href="mailto:agensi@mail.com") agensi@mail.com
        .footer__brief-contacts-item
          .footer__brief-contacts-item-icon
            img(src=require('@/assets/img/svg/phone.svg') alt="")
          a(href='tel:+1234567890') + 12 3456 7890
    .footer__column
      .footer__column-title Services
      a(href="javascript:") Digital Marketing
      a(href="javascript:") Branding
      a(href="javascript:") Market Promotion
      a(href="javascript:") Digital Campaign
    .footer__column
      .footer__column-title About Us
      a(href="javascript:") Milestone
      a(href="javascript:") Check Our Pricing Plan
      a(href="javascript:") Expert Team
      a(href="javascript:") Our Exciting News
    .footer__column
      .footer__column-title Address
      a(href="javascript:") 123 Lorem Ipsum Street  Jakarta, Indonesia
      +social({
        iconOne: require('@/assets/img/svg/facebook.svg'),
        hrefOne: 'https://www.facebook.com/',
        iconTwo: require('@/assets/img/svg/google.svg'),
        hrefTwo: 'https://www.google.com/',
        iconThree: require('@/assets/img/svg/twitter.svg'),
        hrefThree: 'https://twitter.com/',
      })




