mixin blog-preview(params)
  .blog__preview(
    class=params.active ? 'blog__preview_active' : ''
    data-aos="fade-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="500"
  )
    .blog__preview-image
      img(src=params.picture alt="")
    .blog__preview-wrap
      .blog__preview-subtitle
        .blog__preview-subtitle-topic #{params.topic}
        .blog__preview-subtitle-date |  #{params.date}
      .blog__preview-title #{params.title}
      p.blog__preview-text #{params.text}
      a.blog__preview-excerpt(href="javascript:") Read more
        span.blog__preview-excerpt-arrow
          img(src="" alt="")
