mixin services-item(params)
  .services__item(
    data-aos=params.animation
    data-aos-easing="ease-out-cubic"
    data-aos-duration="500"
  )
    .services__item-icon
      .services__item-icon-image
        img(src=params.icon alt="")
    .services__item-content
      .services__item-content-caption #{params.caption}
      p #{params.paragraph}
