mixin social(params)
  .socials
    a.socials__item(href=params.hrefOne)
      img(src=params.iconOne alt="")
    a.socials__item(href=params.hrefTwo)
      img(src=params.iconTwo alt="")
    a.socials__item(href=params.hrefThree)
      img(src=params.iconThree alt="")

