mixin social(params)
  .socials
    a(href=params.hrefOne target="_blank")
      img(src=params.iconOne alt="")
    a(href=params.hrefTwo target="_blank")
      img(src=params.iconTwo alt="")
    a(href=params.hrefThree target="_blank")
      img(src=params.iconThree alt="")

