mixin statistics-item(params)
  .statistics__item(
    data-aos="fade"
    data-aos-delay=params.delay
    data-aos-duration="1000"
  )
    .statistics__item-num #{params.num}
    .statistics__item-caption #{params.caption}
